// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons.css';



.posts-container {
    background-color: rgb(216, 215, 215);

    table {
        img {
            width: 200px;
        }
    }

}


.form-container{
    max-width:250px;
    background-color: antiquewhite;
    margin:0 auto;
    padding-top:30px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
}
